@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

html, body {
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

#add_members {
	padding: 0;
	height: 1400px;
	text-align: center;
	font-size: 30px;
	background-color: #21b1fd;
}

#add_members p{
	margin: 10px;
}

#add_members h1 {
	padding: 10%;
	margin: 0;
}

#add_members input {
	width: 30%;
	font-size: 30px;
}

#add_members button {
	height: 3%;
	width: 7%;
}