html, body {
	margin: 0;
	height: 100%;
	font-family: 'Montserrat';
}

#subtitle {
    font-size: 5px;
    margin-bottom: 25px;
}
#add_members {
	padding-top: 25px;
    padding-bottom: 50px;
	text-align: center;
    font-size: 30px;
    color: #ffe;
    background-image: url("https://i.pinimg.com/originals/3e/54/0a/3e540a3a0faf7600c799f3d917d42fb9.jpg");
    background-size: 100%;
    background-position-y: 750px;
    max-height: fit-content;
}

#add_members p{
	margin: 10px;
}

#add_members h1 {
	padding: 10%;
	margin: 0;
}

#add_members input {
	width: 30%;
    font-size: 30px;
    color: #ffe;
}

#add_members button {
    display: flex-row;
    margin: 0px 10px;
}